discord.py
pillow
requests
pytesseract
bs4
m3u8
flask==2.2.2
mathparse>=0.1,<0.2
python-dateutil>=2.8,<2.9
sqlalchemy>=1.3,<1.4
pytz
coveralls
flake8
nltk>=3.2,<4.0
nose
pint>=0.8.1
pymongo>=3.3,<4.0
twine
twython
spacy==3.4.1
sphinx>=3.0,<3.1
sphinx_rtd_theme
pyyaml
typer==0.4.2
pynacl
youtube_dl
colorama